.card_container {
    width: 264px;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
}

.card_details {
    padding: 24px;
}

.flag_img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0px 0px;

    &:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }
}

.country {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    text-align: left;
    color: var(--colorprimary);
}

.country_details {
    margin-top: 16px;
}

.detail {
    margin-bottom: 8px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: var(--colorprimary);
}

.otherDetail {
    font-weight: 300;
}